github "kdisimone/LoopKit" "xliff-test"
github "kdisimone/CGMBLEKit" "xliff-test"
github "i-schuetz/SwiftCharts" == 0.6.5
github "kdisimone/dexcom-share-client-swift" "xliff-test"
github "kdisimone/G4ShareSpy" "xliff-test"
github "kdisimone/rileylink_ios" "xliff-test"
github "LoopKit/Amplitude-iOS" "decreepify"
